<div ng-app="Platzi" ng-controller="BaseCtrl">
   <div class="contailner">
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h3>Online Users</h3>
          <ul class="list-group" id="users"></ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="chat" id="chat"></div>
        <form id="messageForm">
          <div class="form-group">
           <label>Enter Name</label><br />
            <input class="form-control" id="name" ng-model="name"/>
            <br/>
            <label>Enter Message</label><br />
            <textarea class="form-control" id="message" ng-model="text"></textarea>
            <br/>
            <input type="submit" class="btn btn-primary" value="Send Message" ng-click="sendMessage()">
          </div>
        </form>
      </div>
    </div>
   </div>

  <hr> 
  <ul ng-repeat="data in textArray">
  <li><strong>{{data.name}}</strong>:{{data.text}}</li>
  </ul>

  <hr> 
  <ul ng-repeat="emoji in emojis">
  <li>{{emoji.text}}</li>
  </ul>


</div>

